@use "sass:map";
@use "../variables";

window.Notifications {
  background: transparent;

  notification {
    padding: 0.75rem;
    border-radius: map.get(variables.$border-radii, "2xl");
  }

  .image {
    min-width: 32px;
    min-height: 32px;
  }
}
