@use "../variables";

@mixin border-radius($name, $value) {
  .rounded-#{$name} { border-radius: $value; }
  .rounded-t-#{$name} { border-top-left-radius: $value; border-top-right-radius: $value; }
  .rounded-r-#{$name} { border-top-right-radius: $value; border-bottom-right-radius: $value; }
  .rounded-b-#{$name} { border-bottom-right-radius: $value; border-bottom-left-radius: $value; }
  .rounded-l-#{$name} { border-top-left-radius: $value; border-bottom-left-radius: $value; }
  .rounded-tl-#{$name} { border-top-left-radius: $value; }
  .rounded-tr-#{$name} { border-top-right-radius: $value; }
  .rounded-br-#{$name} { border-bottom-right-radius: $value; }
  .rounded-bl-#{$name} { border-bottom-left-radius: $value; }
}

@each $name, $value in variables.$border-radii {
  @include border-radius($name, $value);
}
