name: nix-packages-update

on:
  workflow_call:
  workflow_dispatch:
  schedule:
    - cron: '30 3 * * TUE,SAT'

jobs:

  nix-packages-update:

    permissions:
      contents: write
      id-token: write
      issues: write
      pull-requests: write

    runs-on: ubuntu-latest

    steps:

      - name: Repository Checkout
        id: git-checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup nix
        id: nix-setup
        uses: Joker9944/nix-config/.github/composites/nix-setup@main

        # cSpell:ignore ghaction-import-gpg
      - name: GPG Config
        id: gpg-config
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0

        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Update Packages
        id: nix-update

        run: nix run .#update-packages

      - name: Create Pull Request
        id: git-pr-create
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0

        with:
          token: ${{ secrets.PAT }}
          branch: ci/nix-packages-update
          title: "packages: update versions"

      - name: Enable Automerge
        id: git-pr-automerge
        uses: peter-evans/enable-pull-request-automerge@a660677d5469627102a1c1e11409dd063606628d # v3.0.0

        if: ${{ steps.git-pr-create.outputs.pull-request-number }}

        with:
          token: ${{ secrets.PAT }}
          pull-request-number: ${{ steps.git-pr-create.outputs.pull-request-number }}
          merge-method: rebase
