name: nix-flake-update

on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * *'

jobs:

  nix-flake-update:

    permissions:
      contents: write
      id-token: write
      issues: write
      pull-requests: write

    runs-on: ubuntu-latest

    steps:

      - name: Repository Checkout
        id: git-checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

        # cSpell:ignore cachix
      - name: Install Nix
        id: nix-install
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0

        # cSpell:ignore ghaction-import-gpg
      - name: GPG Config
        id: gpg-config
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0

        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Update Flakes
        id: nix-update

        run: ./.github/scripts/update-flakes.sh

      - name: Create Pull Request
        id: git-pr-create
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0

        with:
          token: ${{ secrets.PAT }}
          branch: ci/nix-flake-update
          title: "flakes: update flake.lock"

      - name: Enable Automerge
        id: git-pr-automerge
        uses: peter-evans/enable-pull-request-automerge@a660677d5469627102a1c1e11409dd063606628d # v3.00

        with:
          token: ${{ secrets.PAT }}
          pull-request-number: ${{ steps.git-pr-create.outputs.pull-request-number }}
          merge-method: squash
