name: nix-flake-update

on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * *'

jobs:

  nix-flake-update:

    permissions:
      contents: write
      id-token: write
      issues: write
      pull-requests: write

    runs-on: ubuntu-latest

    steps:

      - name: Repository Checkout
        id: git-checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Install Determinate Nix
        id: nix-install
        uses: DeterminateSystems/determinate-nix-action@9596b92e70cbf68a494a2b0273cb5b680184f5fc # v3.13.1

      - name: Update flake.lock
        id: nix-update
        uses: DeterminateSystems/update-flake-lock@c5930b397a673a70ca70be06020e943aeac310a1 # v27

        with:
          pr-title: "Lock file maintenance flake.lock"

          sign-commits: true
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}

        # This is a workaround since no code checks are configured for Github auto merge, if that ever changes switch to:
        # https://github.com/juliangruber/approve-pull-request-action
      - name: Merge Update flake.lock PR
        id: git-merge
        # cSpell:words juliangruber
        uses: juliangruber/merge-pull-request-action@9234b8714dda9a08f3d1df5b2a6a3abd7b695353 # v1.3.1
        if: ${{ steps.nix-update.outputs.pull-request-number != null }}
        with:
          number: ${{ steps.nix-update.outputs.pull-request-number }}
          method: squash

          github-token: ${{ secrets.GITHUB_TOKEN }}
